/* HERO SECTION */

.hero{
    background:
    linear-gradient(
        rgba(10,102,194,0.75),
        rgba(10,102,194,0.75)
    ),
    url("hero.jpg")
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.overlay{
    max-width: 850px;
    color: white;
    padding: 20px;
}

.overlay h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.overlay p{
    font-size: 22px;
    margin-bottom: 30px;
}

.btn{
    background: #25D366;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background: #1ebe5d;
    transform: translateY(-3px);
}
